body{
    margin:0;
    font-family: Georgia, "DejaVu Serif", Norasi, serif;
}

a[role="button"] {
    border-radius: 5px;
    border: 1px solid #cecece;
    color:#000000;
    border: 0px;
    text-decoration: none;
    padding:5px;
    transition: background-color 1s;
}

a[role="button"]:hover {
    background-color:#cecece;
    cursor: pointer;
    
    
}

a svg{
    vertical-align : middle;
}

#container {
    margin: 0px 10px;
}

.success{
    background-color: rgb(24, 173, 74);
    border-radius: 10px;
    border:1px solid rgb(16, 121, 51);
    padding: 10px;
    text-align: center;
    margin:10px;
    position: absolute;
    top : 10%;
    right:10%;
    cursor: pointer;
}

.success-hidden{
    display: none;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    margin:0;
    min-height: 60px;
    background-color: #2b5ab1;
}

header a {
    color:#ffffff7a;
    text-decoration: none;
}

.label {
    padding:20px 10px;
    font-size: 1.5rem;
    margin: 0px;
    color:rgb(255, 255, 255);
}

.nav-bar-toggler {
    margin:10px 20px;
    padding:5px 5px 2px 5px;
    background-color: transparent;
    border:none;
    color:#ffffff7a;
}

.nav-bar-toggler:hover {
    margin:7px 17px;
    border:3px solid #ffffff7a;
    border-radius: 5px;
    
}

/* BAR NAVIGATION LATERALE */

#nav-bar{
    background-color: #535353;
    position: absolute;
    top: 67;
    right: -200px;
    width: 200px;
    height: 100%;
    transform: translateX(0px);
    transition-duration: 1s;
    
}

.has-sidebar #nav-bar{
    transform: translateX(-200px);
    transition-duration: 1s;
}

#nav-bar ul {
    margin-top: 30px;
}

#nav-bar li {
    list-style: none;
    margin-top: 20px;
}
   

#nav-bar a {
    text-decoration:none;
    color:rgb(255, 255, 255);

}
#nav-bar a:hover {
    text-decoration:none;
    color:#ffffff7a;
    transition-duration: 500ms;

}

/* FORMULAIRE */

form {
    margin: auto;
    width: 400px;
    border: 1px solid #cecece;
    border-radius: 10px;
    background-color: #2b5ab117;
}

.form-field-group {
    margin: 5px 20px 5px 20px;
    display: flex;
    flex-direction: column;
  
}

.form-field-group > * {
    margin-top: 5px;
}

input {
    border-radius: 5px;
    border: 1px solid #cecece;
    height: 2em;
}

input[type=submit] {
    color:#ffffff;
    background-color:#2b5ab1;
    border: 0px;
    margin:10px 155px 10px;  
    padding: 10px 20px;
    height:auto;
}

input[type=submit]:hover {
    background-color:#184cad;
    cursor: pointer;
}

.form-field-group input.input-error {
    border: 1px solid red;
}

.form-field-group .error {
    color: red;
    font-size: 0.8em;
}
.alert-error {
    background-color: #ff000077;
    border-radius: 10px;
    border:1px solid red;
    padding: 10px;
    text-align: center;
    margin:10px;
}

.legend {
    margin: 5px auto 5px;
    text-align: center;
}

/* TABLEAU */

table {
    border: 1px solid #cecece;
    padding: 10px;
    border-radius: 5px;
    margin:auto;
    border-spacing:0;
    text-align:center;
    
}

table td,th  {
    height: 1.8em;
    border-top: 1px solid #cecece;
    padding:5px;
}
thead th{ 
    border-top: none;
}
tbody :first-child td {
    border-top: 2px solid #818181;
}


